
@{
    ViewBag.Title = "DeleteProduct";
}

<h2>DeleteProduct</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
        ProductID : <input type="text" name="pid" value=@Model.ProductID readonly />
    </div>
    <div>
        ProductName : <input type="text" name="pname" value=@Model.Pname readonly />
    </div>
    <div>
        Product Description : <input type="text" name="pdesc" value=@Model.PDesc readonly/>
    </div>
    <div>
        Product Manufacturer : <input type="text" name="pmanu" value=@Model.PManu readonly/>
    </div>
    <div>
        Product Price : <input type="number" name="price" value=@Model.Price readonly />
    </div>
    <div>
        Product Category : <input type="text" name="pcat" value=@Model.Pcat readonly/>
    </div>
    <div>
        <input type="submit" value="DELETE RECORD?" />
    </div>
}
@Html.ActionLink("<<Back to Select", "GetProduct")