@model MobileMVC.Models.Product
@{
    ViewBag.Title = "UpdateProduct";
}

<h2>UpdateProduct</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
        ProductID : <input type="text" name="pid" value=@Model.ProductID readonly />
    </div>
    <div>
        ProductName : <input type="text" name="pname" value=@Model.Pname readonly />
    </div>
    <div>
        Product Description : @Html.DropDownList("prodinfo", ViewData["ProductID"] as SelectList)
    </div>
    <div>
        Product Manufacturer : <input type="text" name="pmanu" value=@Model.PManu />
    </div>
    <div>
        Product Price : <input type="number" name="price" value=@Model.Price />
    </div>
    <div>
        Product Category : <input type="text" name="pcat" value=@Model.Pcat />
    </div>

    <div>
        <input type="submit" value="UPDATE" />
    </div>
}
@Html.ActionLink("<<Back to Select", "GetProduct")